<launch>
    <arg name="mode" default="normal"/>
    <node pkg="autorace_idminer" type="detect_tunnel_new" name="detect_tunnel_new" output="screen" launch-prefix="$(eval 'bash -c \"source /opt/ros/noetic/setup.bash; echo \"\$(cat /etc/os-release | grep ^ID=)\"\"' if os.environ.get('ROS_DISTRO') == 'noetic' else '')"/>
</launch>
